{
	"TargetName" : "TDownEditor",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "ff06c79d-789b-433e-a36d-81b68dcef8db",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 11,
		"PatchVersion" : 0,
		"Changelist" : 2875303,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.11"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-TDown.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-TDown.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-TDown.lib",
			"Type" : "ImportLibrary"
		}
	],
	"RuntimeDependencies" :
	[
	]
}